.button {
  border-radius: 25px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  border: #5C642C solid 1px;
  transition: background-color 0.7s ease;
}

.button:hover {
  transition: background-color 0.7s ease;
  background-color: #5C642C;
  color: #f4f3EA;
}

.button:active {
  background-color: #5c642c87;
}