.home-container {
  height: 100%;
  width: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.home-grid section {
  display: grid;
  height: 900px;
  background-color: #f4f3EA;
  padding: 0px 175px 0px 175px
}

.home-grid section h4 {
  color: #5C642C;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 20px;
}

.img-container {
  width: 50vw;
  height: 900px;
}

.home-img {
  object-fit: contain;
  width: 1200px;
  z-index: 100;
}