.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 100vw;
}

.home-grid section {
  display: grid;
  height: 900px;
  background-color: #f4f3EA;
  padding: 0 175px;
}

.home-grid section h4 {
  color: #5C642C;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 20px;
}

.img-container {
  width: 50vw;
  height: 900px;
}

.home-img {
  object-fit: contain;
  width: 100%;
  max-width: 1200px;
  z-index: 100;
}



/* Media Queries */

/* For large screens */
@media screen and (max-width: 1440px) {
  .home-grid section {
    padding: 0 100px;
  }

  .home-grid section h4 {
    font-size: 60px;
  }
}

/* For small monitor screens */
@media screen and (max-width: 1024px) {
  .home-grid {
    grid-template-columns: 1fr;
  }

  .home-grid section,
  .img-container {
    width: 100%;
    height: auto;
  }

  .home-grid section {
    padding: 50px;
    place-items: center;
  }

  .home-grid section h4 {
    font-size: 48px;
  }


}

/* For tablet screens */
@media screen and (max-width: 768px) {
  .home-grid section {
    padding: 30px;
  }

  .home-grid section h4 {
    font-size: 36px;
  }
}

/* For mobile screens */
@media screen and (max-width: 480px) {
  .home-grid section {
    padding: 10px;
  }

  .home-grid section h4 {
    font-size: 28px;
  }

  .home-grid section button {
    margin: 10px;
  }
}