.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-grid section {
  background-color: #f4f3EA;
  padding: 0px 100px 0px 100px
}

.home-grid section h4 {
  color: #5C642C;
  font-size: 72px;
}

.home-img {
 width: 1000px;
}