.popUpCard-container {
  display: grid;
  position: absolute;
  top: 45px;
  right: 10;
  z-index: 100;
  width: 200px;
  background-color: #5B612E;
  box-shadow: black 1px 1px 20px 1px;
  border-radius: 10px;
  border: black solid 2px;
}

.popUpCard-container > * {
  text-align: center;
  border-bottom: 1px black solid;
  height: 30px;
  margin-top: 5px;
  text-decoration: none;
  color: #f3f4f3;
}

.popUpCard-container > p {
  padding-right: 15px;
  text-align: end;
}

.popUpCard-container > *:last-child {
  border-bottom: none;
}

.popUpCard-container > *:hover {
  color: #c55a36;
  cursor: pointer;
}

.clientNav {
  color: #e8ad48;
}

/* Media Queries */
/* All to align pop-up with welcome profile nav button */
@media screen and (max-width: 1024px) {
  .popUpCard-container {
    top: 85px;
    right: 40%; 
  }
}

@media screen and (max-width: 997px) {
  .popUpCard-container {
    top: 115px;
    right: 38%; 
  }
}

@media screen and (max-width: 768px) {
  .popUpCard-container {
    top: 280px;
    right: 38%; 
  }
}

@media screen and (max-width: 480px) {
  .popUpCard-container {
    top: 410px;
    right: 25%; 
  }
}


